.header {
    display: flex;
    background-color: #1F2937;
    font-family: Roboto;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 18px;
}

.upper {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
}

.upper h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.signup {
    background-color: #3882F6;
    color: #F9FAF8;
}

.info {
    display: flex;
    color: #1F2937;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
}